@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserDetails> SignInManager
@inject UserManager<UserDetails> UserManager

@if (SignInManager.IsSignedIn(User))
{


    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @User.Identity.Name
            </a>
        <div class="dropdown-menu carrent-border-top pl-3 pr-3" aria-labelledby="navbarDropdownMenuLink">
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("Admin"))
                { 
                    <a class="nav-link dropdown-item talign-center carrent-border-bottom" asp-controller="Admin" asp-action="Index">Admin</a>
                }
            else if (User.IsInRole("User"))
                {
                    <a class="nav-link dropdown-item talign-center carrent-border-bottom" asp-controller="User" asp-action="Reservations">My Reservations</a>
                }
            }
            <a class="nav-link dropdown-item talign-center carrent-border-bottom" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Settings</a>
            <form class="dropdown-item pl-3 pt-2 pb-2" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark m-0 p-0">Logout</button>
            </form>
        </div>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">
            <p class="carrent-nav-link">Register</p>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">
            <p class="carrent-nav-link">Login</p>
        </a>
    </li>
}
