.padding-top-120px{
    padding-top: 120px;
}

.spec2 {
    white-space: nowrap;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
}

.carrent-border-top {
    border: none;
    border-top: 8px solid #00C1B4;
    border-radius: 0;
}

.carrent-border-bottom {
    border: none;
    border-bottom: 1px solid #EFEFEF;
    border-radius: 0px;
}