@model CarRent.Models.Address

@{
    ViewData["Title"] = "Add An Address";
}

<div class="padding-top-120px bg-dark"></div>

<div class="site-section bg-light padding-top-120px" id="contact-section">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-7 text-center mb-5">
                <h2>Add A New Address</h2>
            </div>
        </div>
        <div class="d-flex action mb-5">
            <a asp-action="Index" class="btn btn-primary">Go back to list</a>
        </div>
        <div class="row">
            <div class="col-lg-8 mb-5">
                <form asp-action="Create" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group row">
                        <div class="col-md-12 mb-4 mb-lg-0">
                            <label asp-for="AddressTitle" class="control-label"></label>
                            <input asp-for="AddressTitle" class="form-control" />
                            <span asp-validation-for="AddressTitle" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12 mb-4 mb-lg-0">
                            <label asp-for="DistrictId" class="control-label"></label>
                            <a asp-action="Create" asp-controller="District" class="btn btn-primary float-right">Add a new district</a>
                            <select asp-for="DistrictId" class="form-control" asp-items="ViewBag.DistrictId"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12 mb-4 mb-lg-0">
                            <label asp-for="AddressText" class="control-label"></label>
                            <input asp-for="AddressText" class="form-control overflow-hidden" />
                            <span asp-validation-for="AddressText" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6 mr-auto">
                            <input type="submit" class="btn btn-block btn-primary text-white py-3 px-5" value="Add">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
